extends layout

block content
    .uk-container.uk-margin-medium-top
        div(uk-grid)
            .uk-width-1-2
                .uk-card.uk-card-default
                    #tiledMap
            .uk-width-1-2
                .uk-card.uk-card-default.uk-card-body
                    h3.uk-card-title Camera Map