doctype html
html
    head
        base(href=context + "/")
        title(data-i18n="parking-lot-editor")
    body
        nav.uk-navbar-container(uk-navbar)
            .uk-navbar-left
                .uk-navbar-item
                    h3.uk-margin-remove-bottom.nav-title(data-i18n="parking-lot-editor")
            .uk-navbar-right
                ul.uk-navbar-nav
                    li
                        a
                            img.locale(width=24 height=24)
                        .uk-navbar-dropdown.uk-width-auto.uk-padding-small.uk-margin-remove
                            ul.uk-nav.uk-navbar-dropdown-nav.locale-list
        block content
        if env == "development"
            script(src="/bundle.js")
            script(src="/reload/reload.js")