html {
    font-size: 15px;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.uk-height-viewport {
    height: 100vh;
    min-height: 600px;
}
#wrapper-section, #home-section, #osm-section, #street-view-section, #mapping-section {
    display: none;
}
.wrapper {
    width: 100%;
    height: 100%;
    background-image: url(../images/wrapper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.wrapper-box {
    padding-top: 150px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.wrapper-title {
    line-height: 60px;
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-shadow: 0px 0px 7px rgba(230,178,178,0.50);
    text-transform: uppercase;
}
.wrapper-button {
    cursor: pointer;
    margin-top: 80px;
    background: rgba(0,0,0,0.53);
    border: 2px solid #FFFFFF;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 2.79px;
    text-transform: uppercase;
    padding: 17px 39px 17px 53px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.wrapper-button:hover {
    background: #0f7ae5;
    color: #fff;
}
#tiledMap {
    width: 100%;
    height: 500px;
}
#streetView {
    width: 100%;
    height: 100%;
}
.no-result {
    color: #b2b2b2;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}
.unbind-button {
    display: none;
}
.uk-overlay {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    margin: 0;
    padding: 0;
}
.uk-overlay-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: #fff;
}
.uk-overlay-panel > :last-child {
    margin-bottom: 0;
}
.uk-overlay-bottom {
    top: auto;
}
.uk-overlay-transition {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-property: opacity, transform;
}
.uk-overlay-slide-bottom {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.uk-overlay-slide-top {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
}
.uk-light {
    color: rgba(255,255,255,0.8);
}
.uk-dark {
    color: #666;
}
.uk-height-xlarge {
    height: 500px;
}